<button class="fixed bottom-5 right-5">
    <a href="/prompts/add"
        class="bg-violet-900 hover:bg-violet-800 text-white w-14 h-14 flex items-center justify-center rounded-full">
        <i class="fas fa-plus"></i>
    </a>
</button>