<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Prompt Keeper - Login</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="px-5 bg-gradient-to-b from-violet-950 md:from-[100px] to-blue-900">
  <main class="max-w-[500] lg:max-w-[800px] mt-12 mx-auto text-center text-black bg-white shadow-2xl rounded-3xl">
    <section class="">
      <article class="px-5 py-10">
        {{{body}}}
      </article>
    </section>
  </main>
</body>

</html>