<h1 class="mb-2 text-4xl font-bold text-red-600">Server Error</h1>
<p class="mb-5 text-lg">We're sorry, something went wrong.</p>
<a href="/dashboard"
    class="px-4 py-2 font-bold text-white bg-blue-700 border-2 border-blue-800 rounded hover:bg-blue-800">
    Go to Dashboard
</a>